@font-face {
	font-family: Gohtam;
	font-weight: normal;
	src: url("http://res.cloudinary.com/myntra-com/raw/upload/v1471606844/fonts/gotham/Gotham-Medium.otf") format("opentype");
}


html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Gohtam', sans-serif;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
img{
	width:100%;
	display:block;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.transition {
    -webkit-transition-duration: 3s; 
    transition-duration: 3s;
}

.blurImg {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

ul.slider-list {
    min-height: 150px !important;
}